$icon-font-path: '../fonts/';

@import "bower_components/bourbon/app/assets/stylesheets/bourbon";

@import "materialize";

/*-----------------------------------------------------------------------------------*/
/* GENERAL
/*-----------------------------------------------------------------------------------*/

body {
  font-size: 16px;

  a {
    color: #ee3d40;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.chip {
  margin:  0 0 5px 0;
}

.nav-wrapper {
  i {
    font-size: 30px;
    margin: 0px 10px;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
  margin: 0;
}

.brand-logo {
  img {
    margin: 5px 0;
    width: auto;
    height: 50px;
  }
}

.button-collapse {
  padding: 0 15px;
}

.story {
  .story-summary-container {
    display: inline-block;
    // .story-snaphot {
    //   width: 160px;
    //   display: inline-block;
    // }
    .thumbnail {
      max-width: 100%;
    }
    .tags-container {
      display: inline;
    }
  }
}

.globo-historia {
  &-list {
    padding: 0 10px;

    li {
      padding: 30px 0 0;
      border-top: 1px #ebebeb solid;

      &:first-child {
        border: 0 none;
      }
    }

    figure {
      padding: 0;
      margin: 0;
    }

    p {
      padding: 0;
      margin: 0 0 10px;

      a {

      }
      strong {
        display: block;
      }
    }
  }
}

.reactions {
  text-align: left;
  .fa {
    margin: 10px !important;
  }
  a {
    margin: 0 5px;
    display: inline-block;
    i {
      background-position: bottom;
    }

    &.active, &:hover {
      i {
        background-position: top;
      }
    }

    span {
      display: inline-block;
      font-size: 12px;
      position: relative;
      top: -5px;
    }
  }
  i {
    display: inline-block;
    width: 20px;
    height: 20px;

    &.like {
      background-image: url("../images/react-like.png");
    }
    &.love {
      background-image: url("../images/react-love.png");
    }
    &.wow {
      background-image: url("../images/react-wow.png");
    }
    &.sad {
      background-image: url("../images/react-sad.png");
    }
    &.angry {
      background-image: url("../images/react-angry.png");
    }
  }
}

.card-activity {
  border: 1px solid #f2f2f2;
  height: auto;
  padding: 10px;
  width: 100%;
}

.card-activity h6 {
  font-size: 18px;
}

.divider {
  background-color: #f2f2f2;
  height: 1px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}

body {
  background-color: white;
}

.media-content {
  height: 100%;
  width: 100%;
}

.bradius {
  border-radius: 5px; /*Safari, Chrome*/
  -moz-border-radius: 5px; /*Firefox*/
  -webkit-border-radius: 5px;
}

#media .divider {
  background-color: #757575;
}

#media {
  padding: 10vh 0 0;
  background: rgba(28, 28, 28, .95);
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

[data-player] {
  width: 100% !important;
  height: 100% !important;
}

.video-list {
  max-height: 30vh;
  overflow: auto;

  li {
    padding: 10px 0 0;
    margin: 0;
    border-top: 1px #ebebeb solid;
    &:first-child {
      border: 0 none;
    }
  }
}

.embed-responsive {
  background: #b5b5b5;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-position:50% 50%;*/
  height: 70px;
  margin-bottom: 10px;
  /*  background-size: 26px; */
  opacity: 0.8;
  width: 100%;
}

.thumbnail:hover {

}

.small-title {
  color: #fff;
}

.activities-container {
  ul {
    overflow: auto;
    max-height: 320px;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}
