<!doctype html>
<html class="no-js" lang="" ng-app="GloboHistorias" ng-clock>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Hackathon Globo - News</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
  <div class="navbar-fixed">
    <nav class="red">
      <div class="nav-wrapper">
        <a href="index.html" class="brand-logo center"><img src="images/g1.png" alt="G1" /></a>
        <!--
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-navicon"></i></a>
        <ul class="left hide-on-med-and-down">
          <li><a href="top.html">Top</a></li>
          <li><a href="new.html">Novas</a></li>
          <li><a href="best.html">Melhores</a></li>
          <li><a href="dayly.html">Do dia</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="top.html">Top</a></li>
          <li><a href="new.html">Novas</a></li>
          <li><a href="best.html">Melhores</a></li>
          <li><a href="dayly.html">Do dia</a></li>
        </ul>
        -->
      </div>
    </nav>
  </div>

  <div class="section">
    <div class="row">
      <div class="col s12 m8">
        <div class="news">
          <span>
            09/04/2016 16h01 - Atualizado em 09/04/2016 17h55
          </span>
          <h3>
            Estado de SP registra 70 mortes por H1N1 e 534 casos
          </h3>
          <small>
            Capital paulista registrou 17 mortes e 201 pessoas infectadas em 2016.
            Campanha de vacinação foi antecipada na Região Metropolitana.
            Do G1 São Paulo
          </small>

          <p>
          A Secretaria da Saúde do Estado de São Paulo registrou, neste ano, 70 mortes relacionadas ao vírus H1N1. De acordo com balanço divulgado pelo órgão, foram registrados 534 casos até o dia 5 de abril.
          </p>
          <p>
          Ainda de acordo com a Secretaria, no total, foram notificados 667 casos de Síndrome Respiratória Aguda Grave (SRAG) no estado, com 75 mortes. Em 2015, foram 342 casos de SRAG em São Paulo.
          </p>
          <p>
          A capital paulista já registrou 17 mortes por gripe A (vírus H1N1) em 2016 e pelo menos 201 pessoas infectadas. Os dados mostram o avanço da doença neste ano, já que nos primeiros três meses de 2015, a cidade teve apenas um caso da doença e nenhuma morte registrada. Os números foram divulgados na sexta-feira (8) pela Prefeitura de São Paulo.
          </p>
          <p>
            <strong>Vacinação</strong>

            Neste ano, a vacinação foi antecipada em municípios da Região Metropolitana. Profissionais de saúde de serviços públicos e privados estão sendo imunizados desde o dia 4 de abril.
          </p>
          <p>
            A partir do dia 11, segunda-feira, serão imunizados demais grupos prioritários: crianças maiores de seis meses e menores de cinco anos, gestantes e idosos.  A partir do dia 18, a imunização atenderá os grupos com comorbidades, como portadores de doenças crônicas e em tratamento com imunossupressores, mulheres que deram à luz nos últimos 45 dias, e a população indígena.
          </p>
          <p>
            Nas outras regiões, a campanha terá inicio no dia 30 de abril, conforme calendário definido pelo Ministério da Saúde.
          </p>
        </div>

        <div class="globo-historia">
          <div class="row">
            <div class="col s12">
              <ul class="tabs" ng-controller="storyCtrl">
                <li class="tab col s3"><a class="active reactions" href="#tab_like"><i class="like"></i> {{(stories|filter:filterLike).length}}</a></li>
                <li class="tab col s3"><a class="reactions" href="#tab_love"><i class="love"></i> {{(stories|filter:filterLove).length}}</a></li>
                <li class="tab col s3"><a class="reactions" href="#tab_wow"><i class="wow"></i> {{(stories|filter:filterWow).length}}</a></li>
                <li class="tab col s3"><a class="reactions" href="#tab_sad"><i class="sad"></i> {{(stories|filter:filterSad).length}}</a></li>
                <li class="tab col s3"><a class="reactions" href="#tab_angry"><i class="angry"></i> {{(stories|filter:filterAngry).length}}</a></li>
              </ul>
            </div>
            <div id="tab_like" class="col s12">
              <ul class="globo-historia-list row" ng-controller="storyCtrl">
                <li ng-repeat="story in stories | orderBy:'reactions.like':true | filter:filterLike as count" class="col s4 m2">
                  <div>
                    <a ng-href="{{::story.video_url}}" class="open-modal"><img ng-src="{{::story.story_thumb}}" class="img-responsive"></a>
                  </div>
                </li>
              </ul>
            </div>
            <div id="tab_love" class="col s12">
              <ul class="globo-historia-list row" ng-controller="storyCtrl">
                <li class="col s4 m2" ng-repeat="story in stories | orderBy:'reactions.love':true | filter:filterLove">
                  <div>
                    <a ng-href="{{::story.video_url}}" class="open-modal"><img ng-src="{{::story.story_thumb}}" class="img-responsive"></a>
                  </div>
                </li>
              </ul>
            </div>
            <div id="tab_wow" class="col s12">
              <ul class="globo-historia-list row" ng-controller="storyCtrl">
                <li class="col s4 m2" ng-repeat="story in stories | orderBy:'reactions.wow':true | filter:filterWow">
                  <div>
                    <a ng-href="{{::story.video_url}}" class="open-modal"><img ng-src="{{::story.story_thumb}}" class="img-responsive"></a>
                  </div>
                </li>
              </ul>
            </div>
            <div id="tab_sad" class="col s12">
              <ul class="globo-historia-list row" ng-controller="storyCtrl">
                <li class="col s4 m2" ng-repeat="story in stories | orderBy:'reactions.sad':true | filter:filterSad">
                  <div>
                    <a ng-href="{{::story.video_url}}" class="open-modal"><img ng-src="{{::story.story_thumb}}" class="img-responsive"></a>
                  </div>
                </li>
              </ul>
            </div>
            <div id="tab_angry" class="col s12">
              <ul class="globo-historia-list row" ng-controller="storyCtrl">
                <li class="col s4 m2" ng-repeat="story in stories | orderBy:'reactions.angry':true | filter:filterAngry">
                  <div>
                    <a ng-href="{{::story.video_url}}" class="open-modal"><img ng-src="{{::story.story_thumb}}" class="img-responsive"></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <img src="http://lorempixel.com/240/320/people/3" class="img-responsive" />
      </div>
    </div>

    <div class="divider"></div>
  </div>

  <footer class="page-footer red">
    <div class="footer-copyright">
      <div class="container">
        Hackathon Globo 2016 - Made with <i class="fa fa-heart"></i> Richard, Gemano, Betina, Arthur e Gabriel
      </div>
    </div>
  </footer>

  <div id="media">
    <div class="">
      <div class="section">
        <div class="row">
          <div class="col s12 l9">
            <h5 class="" style="color:#a0a0a0;">Hackathon Globo</h5>
            <div class="video-player embed-responsive embed-responsive-16by9">
              <div id="player" class="embed-responsive-item"></div>
              <script>
                var player = new Clappr.Player({source: "http://your.video/here.mp4", parentId: "#player"});
              </script>
            </div>
            <br>
            <div class="center">
              <!--<a class="waves-effect waves-light btn red"><i class="fa fa-ban"></i> Banir</a> | <a class="waves-effect waves-light btn grey"><i class="fa fa-thumbs-down"></i> Rejeitar</a> | <a class="waves-effect waves-light btn green"><i class="fa fa-check"></i> Aceitar</a>-->
              <div class="reactions">
                <a href="" class="active"><i class="like"></i> <span>0</span></a>
                <a href=""><i class="love"></i> <span>0</span></a>
                <a href=""><i class="wow"></i> <span>0</span></a>
                <a href=""><i class="sad"></i> <span>0</span></a>
                <a href=""><i class="angry"></i> <span>0</span></a>
              </div>
            </div>
          </div>
          <ul class="col s12 l3 video-list">
            <!-- row thumbnail -->
            <li class="row">
              <div class="col s6">
                <div class="embed-responsive embed-responsive-16by9">
                  <img src="http://placehold.it/320x240" class="embed-responsive-item" />
                </div>
              </div>
              <div class="col s6 white-text small-title">Título próximo vídeo</div>
            </li>

            <!-- row thumbnail -->
            <li class="row">
              <div class="col s6">
                <div class="embed-responsive embed-responsive-16by9">
                  <img src="http://placehold.it/320x240" class="embed-responsive-item" />
                </div>
              </div>
              <div class="col s6 white-text small-title">Título próximo vídeo</div>
            </li>

            <!-- row thumbnail -->
            <li class="row">
              <div class="col s6">
                <div class="embed-responsive embed-responsive-16by9">
                  <img src="http://placehold.it/320x240" class="embed-responsive-item" />
                </div>
              </div>
              <div class="col s6 white-text small-title">Título próximo vídeo</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/clappr/src/main.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="scripts/materialize.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/app.js -->
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
